.mainContainer {
  position: relative;
  left: 0;
  top: 120px;
  width: 100%;
  height: auto;

  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: whitesmoke;
}
