.mainContainer {
  width: 100%;
  height: auto;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
}

.credits {
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.linkTOS {
  pointer-events: none;
  opacity: 0.5;
}
