.menuButton {
  position: absolute;
  right: 24px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 32px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.menuButton:hover {
  transform: scale(1.1);
}

.rotated {
  transform: rotate(45deg);
}

.rotated:hover {
  transform: rotate(45deg) scale(1.1);
}

@media only screen and (max-width: 700px) {
  .menuButton {
    background-color: rgba(245, 245, 245, 0.5);

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .rotated {
    background-color: whitesmoke;

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 80px;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.5);
  }
}
