.mainContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: pink;

  border: 2px dotted green;
}

/* .petsMenuContainer {
  position: absolute;
} */

.contentContainer {
  width: 100%;
  transition: filter 0.8s ease-in-out;
}

.contentContainer.blurred {
  filter: blur(5px);
  pointer-events: none;